OPENAI_API_KEY=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
LLAMA_ENDPOINT=http://localhost:11434/v1
